/**
 * Obtido e adaptado de https://uiverse.io/SelfMadeSystem/green-bobcat-29
 * Authenty AE - Bom Princípio-RS  |  github.com/authentyAE
 * by: will.i.am                   |  github.com/williampilger
 *
 * 2023.06.14 - Bom Princípio - RS
 */
@import '../../config/theme.scss';
  
.checkbox-comp-container{
    
    cursor: pointer;
    display: flex;
    align-items: center;

    input {
        display: none;
    }
    input:checked ~ svg .path {
        stroke-dasharray: 70.5096664428711 9999999;
        stroke-dashoffset: -262.2723388671875;
    }

    .path {
        fill: none;
        stroke: $accentColor2;
        stroke-width: 6;
        stroke-linecap: round;
        stroke-linejoin: round;
        transition: stroke-dasharray 0.5s ease, stroke-dashoffset 0.5s ease;
        stroke-dasharray: 241 9999999;
        stroke-dashoffset: 0;
    }
    .title-space{
        margin-left: 5px;
    }
}