:root {
    --cor_fundo: rgb(238, 235, 235);
    --cor_top_foot: rgb(0, 122, 204);
    --cor_text_1: black;
    --cor_text_2: white;/*Textos no header e footer*/
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--cor_fundo);
    font-family: 'Roboto', sans-serif;
}

/* h1 {
    margin: 0;
    padding: 0;
} */

header,
footer {
    color: var(--cor_text_2);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor_top_foot);
    height: 40px;
}

header ul,
footer ul{
    display: flex;
    align-items: center;
}

.item {
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    color: var(--cor_text_2);
    transition: 0.5s;
}

.item:hover{
    border-radius: 5px;
    background-color: var(--cor_text_2);
    color: var(--cor_top_foot);
    transition: 0.5s;
}