main {
    padding: 30px;
}

main h1 {
    margin-bottom: 50px;
}

.projeto-item {
    background-color: white;
    margin: 15px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px gray;
}

