html, body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.base-flex {
    display: flex;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
}
body{
    
    justify-content: center;
    background-color: gray;
}
.center{
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    background-color: white;
}
a {
    display: inline-block;
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 7px;
    text-align: center;
    text-decoration: none;
    color: blue;
    font-weight: bold;
}
.group2{
    justify-content: space-around;
}
.psec{
    flex-direction: column;
    border: 1px solid green;
}
.gsec{
    flex-direction: column;
    border: 1px solid red;
}
.sec{
    flex-direction: column;
    justify-content: center;
    border: 1px solid magenta;
}
h1, h2,h3, h4, h5{
    margin: 3px;
}

#form-checkout {
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

.container {
    height: 18px;
    display: inline-block;
    border: 1px solid rgb(118, 118, 118);
    border-radius: 2px;
    padding: 1px 2px;
}
.side{
    color: orange;
    font-size: small;
    vertical-align: middle;
}